/*Basics*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    line-height: 1;
}

body {
    background-color: #F5F6F8;
    overflow-x: hidden; /* Evita rolagem horizontal desnecessária */
}

/*Color Variables*/

.sidebar-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #313443; 
    z-index: 1000; /* Garante que a sidebar esteja sobre o conteúdo */
}

.sidebar-navigation ul {
    text-align: center;
    color: white;
    margin-top: 20px; /* Ajusta o espaçamento do topo */
}

.sidebar-navigation ul li {
    padding: 20px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
    position: relative;
}

.sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443; 
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: .5px;
}

.sidebar-navigation ul li .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #22252E; 
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: #22252E; 
}

.sidebar-navigation ul li.active i {
    color: #98D7EC; 
}
